*,*::after,*::before{
  box-sizing: border-box;
}
body{
  margin: 0px;
  background-color: rgb(22, 21, 21);
}
.calculatorGrid{
  display: grid;
  margin-top: 2rem;
  grid-template-columns:repeat(4,6rem) ;
  grid-template-rows: minmax(7rem,auto) repeat(5,6rem);

}
.spanTwo{
  grid-column: span 2;
}
.output{
  grid-column: 1 /-1;
  background-color: rgb(173, 170, 170);
  color: rgb(19, 19, 19);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;

}
.currentOperand{
  font-size: 2.5rem;
}
.previousOperand{
  font-size: 1.5rem;
}